<%= render partial: 'shared/navbar' %>

<div class="bg-gray-100 h-auto min-h-screen">  
  <div class="px-16 max-w-4xl mx-auto h-auto min-h-screen py-6 bg-white shadow-lg">
    <div>
      <button class="px-4 py-2 bg-red-300 text-black rounded-lg hover:bg-red-400"><%= link_to "New recipe", new_recipe_path %></button>
    </div>
    <div class="mt-8 mb-8 grid lg:grid-cols-3 md:grid-cols-3 gap-10 font-[Poppins]">  

      <% @recipes.each do |recipe| %>
        <%= link_to recipe_path(recipe) do %>
        <div class="bg-white rounded-xl shadow-2xl overflow-hidden">
        <% if recipe.image.attached? %>
          <%= image_tag recipe.image, class: "w-full h-32 sm:h-48 object-cover" %>
        <% else %>  
          <img src="https://images.pexels.com/photos/1247677/pexels-photo-1247677.jpeg?auto=compress&cs=tinysrgb&w=1600" class="w-full h-32 sm:h-48 object-cover">
        <% end %>
          <div class="m-4">
            <div class="line-clamp-2">
              <span class="font-bold" id="recipeName"><%= recipe.name %></span>
            </div>
              <span class="block text-gray-500 text-sm" id="recipeAuthor"><%= display_author_for_recipe(recipe) %></span>  
          </div>
        </div>
        <% end %>
      <% end %>

    </div>
  </div>  
</div>

